.card-header {
    padding:0 !important;
    background-color:transparent !important;
    border-bottom: 0 !important;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn{
    padding: 0 !important;
}

.btn-link {
    color: black !important;
}

.btn-link:hover {
    text-decoration: none !important;
}

.btn-link:focus {
    text-decoration: none !important;
    border: none !important;
}

.arrow_class {
    padding-left: 6%;
}

.arrow_subclass {
    padding-left: 7%;
}

.arrow_subclass2{
    padding-left: 8%;
}

nav::-webkit-scrollbar {
    width: 10px !important;
}
  
nav::-webkit-scrollbar-track {
    background: transparent !important;
}
  
nav::-webkit-scrollbar-thumb {
    background: rgb(4, 77, 4) !important;
    border-radius: 10px !important;
}

body::-webkit-scrollbar {
    width: 10px !important;
}
  
body::-webkit-scrollbar-track {
    background: transparent !important;
}
  
body::-webkit-scrollbar-thumb {
    background: #d3d2d2 !important;
    border-radius: 10px !important;
}